.pre-icon {
    font-family: FontAwesome;
    margin-right: .5em;
}
.head-icon {
    font-family: FontAwesome;
    padding: 0 0 .5em;
    display: block;
    text-align: center;
    font-size: 3em;
}
.blue-color {
    color: #36c;
}
.green-color {
    color: #3c6;   
}


@keyframes swing {
    0%{transform: rotate(-3deg)}
    50%{transform: rotate(3deg)}
    100%{transform: rotate(-3deg)}
}

@keyframes updown {
    0%{bottom: 0}
    40%{bottom: 0}
    42%{bottom: -2em}
    44%{bottom: 0}
    46%{bottom: -2em}
    48%{bottom: 0}
    50%{bottom: -2em}
    52%{bottom: 0}
    100%{bottom: 0}
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 400 1rem "Open Sans", Arial, sans-serif;
    line-height: 1.8em;
    color: #125;

    &> header {
        position: relative;
        background: transparent url(../images/header-bg.jpg) no-repeat top center;
        background-size: 100% 100%;
        min-height: 655px;
        color : #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 35px;
        &> h1 {
            margin: 0;
            font-size: 1.4em;
        }

        &> h2 {
            font-size: .85em;
            margin-top: 0;
            font-weight: 600;
            font-style: italic;
        }
        &> h3 {
            font-size: 3.5em;
            padding-top: 0px;
            margin-top: 0px;
            margin-bottom: 20px;
            font-family: "BebasNeueRegular",Arial,sans-serif;
        }

        nav {
            margin-top: 90px;

            &> a {
                @extend .blue-color;
                display: inline-block;
                width: 225px;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.1em;
                vertical-align: middle;
                font: 1.6em "BebasNeueRegular",Arial,sans-serif;
                padding: 7px 0;


                &:nth-child(1) {
                    background: url(../images/header-nav-left.svg);
                }
                &:nth-child(2) {
                    background: url(../images/header-nav-center.svg);
                    width: 313px;
                    margin: 0 -23px;
                    padding: 13px 0;
                    font-size: 2.3em;
                }
                &:nth-child(3) {
                    background: url(../images/header-nav-right.svg);
                }
            }
        }

        & .early-bird {
            background: transparent url('../images/early-bird.png') no-repeat top right;
            display: block;
            width: 136px;
            height: 170px;
            margin: -17px auto auto;
            border: medium none;
            text-indent: -3000px;
            animation: swing 5s infinite ease-in-out;
            transform-origin: center top;

            &:visited,
            &:focus {
                border: none;
            }
        }
        & .next {
                display: block;
                width: 55px;
                height: 40px;
                position: absolute;
                text-align: center;
                bottom: 0; // adapt the "updown" animation to this value.
                color: white;
                animation: 10s updown infinite ease-in-out;
                overflow: hidden;
                margin: 0 auto 2em 0;
                padding-left: 50%;
                margin-left: -30px;
                text-decoration: none;

            &:before {
                @extend .pre-icon;
                content: "\f078";
                font-size: 3.5em;
            }
        }
    }

    &> footer {
        padding: 2em 0;
        background-color: #36c;
        color: #fff;
        text-align: center;

        a {
            color: #fff;
        }
    }
}

main {
    font-size: 1.1em;

    &> section,
    &> article {
        padding: 3em 10em 5em;
        border-bottom: 1px dashed #ddd;
        &:nth-child(even) {
            background-color: #fff;
        }
        &:nth-child(odd) {
            background-color: #f6f6f6;
        }

        &> img {
            width: 30%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 0;
            left: 0;
        }
        &> h1 {
            text-align: center;
            margin: -0.3em 0 0.3em;
            font-size: 2.2em;
        }
        &> h2 {
            text-align: center;
            margin: .5em 0 1em;
            font-weight: normal;
            font-size: 1.1em;
        }

        aside {
            text-align: center;
            font-size: 1.2em;
            padding: .2em 0;
            margin-top: -180px;
            .location,
            .date,
            .language {
                margin-right: 2em;
                &:before {
                    @extend .pre-icon;
                }

            }
            a {
                color: #125;
                text-decoration: none;
            }

            .location:before {
                content: "\f124";
                @extend .blue-color;
            }
            .date:before {
                content: "\f073";
                @extend .blue-color;
            }
            .language:before {
                content: "\f1ab";
                @extend .blue-color;
            }
        }

        &> p {
            margin: 1em 0;
            strong {
                white-space: nowrap;
                @extend .blue-color;
            }
        }
        
        blockquote {
            text-align: center;
        }

        nav {
            text-align: center;
            margin: 3em 0 1em;
            a {
                &.info,
                &.register,
                &.download {
                    color: #fff;
                    font-size: 1.2em;
                    text-decoration: none;
                    padding: .5em 1em;
                    margin-right: .5em;
                    border-radius: 5px;
                }
                &.info {
                    background-color: #36c;
                    &::before {
                        @extend .pre-icon;
                        content: "\f05a";
                    }
                }
                &.register {
                    background-color: #3c6;
                    &::before {
                        @extend .pre-icon;
                        content: "\f0a9";
                    }
                }
                &.download {
                    background-color: #36c;
                    &::before {
                        @extend .pre-icon;
                        content: "\f019";
                    }
                }
            }
        }
    }
    &> section {
        &> h1 {
            font-weight: normal;
            font-size: 1em;
            margin: .3em 0;
        }
        h2 {
            text-align: center;
            font-size: 2.2em;
            margin: 0;
            &::before {
                @extend .head-icon;
                @extend .blue-color;
                margin-top: .3em;  
                content: "\f19c";
                font-size: 2em;
            }
        }
    }
    &> article {
        &> a {
            text-decoration: none;
            position: absolute;
            top: -180px;
            left: 80%;
            background: url("../images/badge.png") no-repeat scroll 0% 0% transparent;
            width: 140px;
            height: 140px;
            padding: 2em 1.8em 2em 1.8em;
            text-align: center;
            display: block;
            transform: rotate(15deg);
            color: #FFC7F2;
            font-weight: bold;
            font-size: 1em;
            line-height: 1.2em;
            position: relative;
            .price {
                font-size: 2em;
                display: block;
                margin: .3em 0;
            }
        }
    }
}

// intern pages

#intern {
    &> header {
        position: fixed;
        background: none;
        min-height: 20px;
        color : #111;
        text-transform: none;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px dashed #ddd;
        background-color: #f6f6f6;
        width: 100%;
        nav {
            margin: 0px 20px;
            &> a {
                @extend .blue-color;
                display: inline-block;
                width: 145px;
                text-decoration: none;
                font-weight: none;
                font-size: 1.1em;
                vertical-align: none;
                font: 1.6em "BebasNeueRegular",Arial,sans-serif;
                padding: 7px 0;
                &:first-child {
                    background: none;
                    &:before {
                        @extend .pre-icon;
                        content: "\f078";
                        font-size: 0.9em;
                        transform: rotate(90deg);
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                    }
                }
                &:last-child {
                    background: none;
                    float: right;
                    &:after {
                        @extend .pre-icon;
                        content: "\f078";
                        font-size: 0.9em;
                        transform: rotate(270deg);
                        display: inline-block;
                        width: 15px;
                        height: 30px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    &> main {
        section {
            h1,
            h2 {
                @extend .blue-color;
                font: 1.6em "BebasNeueRegular",Arial,sans-serif;
                margin-top: 2.5em;
                &:before {
                    display: none;
                }
            }
            nav {
                margin: 5em 0px 0em;
            }
            ol {
            list-style: none;
            }
        }
    }
}