.pre-icon, body > header .next:before, main > section aside .location:before,
main > section aside .date:before,
main > section aside .language:before, main > article aside .location:before,
main > article aside .date:before,
main > article aside .language:before, main > section nav a.info::before, main > article nav a.info::before, main > section nav a.register::before, main > article nav a.register::before, #intern > header nav a:first-child:before, #intern > header nav a:last-child:after {
  font-family: FontAwesome;
  margin-right: .5em; }

.head-icon, main > section h2::before {
  font-family: FontAwesome;
  padding: 0 0 .5em;
  display: block;
  text-align: center;
  font-size: 3em; }

@keyframes swing {
  0% {
    transform: rotate(-3deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }
@keyframes updown {
  0% {
    bottom: 0; }
  40% {
    bottom: 0; }
  42% {
    bottom: -2em; }
  44% {
    bottom: 0; }
  46% {
    bottom: -2em; }
  48% {
    bottom: 0; }
  50% {
    bottom: -2em; }
  52% {
    bottom: 0; }
  100% {
    bottom: 0; } }
@keyframes ponyfly {
  0% {
    top: 100%; }
  50% {
    top: 10%; }
  65% {
    top: 13%; }
  80% {
    transform: rotate(26deg); }
  85% {
    transform: rotate(28deg); }
  90% {
    transform: rotate(30deg); }
  95% {
    transform: rotate(28deg); }
  100% {
    transform: rotate(26deg); } }
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font: 400 1rem "Open Sans", Arial, sans-serif;
  line-height: 1.8em;
  color: #125; }
  body > header {
    position: relative;
    background: transparent url(../images/header-bg.jpg) no-repeat top center;
    background-size: 100% 100%;
    min-height: 640px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px; }
    body > header > h1 {
      margin: 0;
      font-size: 1.4em; }
    body > header > h2 {
      font-size: .85em;
      margin-top: 0;
      font-weight: 600;
      font-style: italic; }
    body > header > h3 {
      font-size: 3.5em;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 20px;
      font-family: "BebasNeueRegular",Arial,sans-serif; }
    body > header nav {
      margin-top: 90px; }
      body > header nav > a {
        display: inline-block;
        width: 225px;
        color: #36c;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        vertical-align: middle;
        font: 1.6em "BebasNeueRegular",Arial,sans-serif;
        padding: 7px 0; }
        body > header nav > a:nth-child(1) {
          background: url(../images/header-nav-left.svg); }
        body > header nav > a:nth-child(2) {
          background: url(../images/header-nav-center.svg);
          width: 313px;
          margin: 0 -23px;
          padding: 13px 0;
          font-size: 2.3em; }
        body > header nav > a:nth-child(3) {
          background: url(../images/header-nav-right.svg); }
    body > header .early-bird {
      background: transparent url("../images/early-bird.png") no-repeat top right;
      display: block;
      width: 136px;
      height: 170px;
      margin: -17px auto auto;
      border: medium none;
      text-indent: -3000px;
      animation: swing 5s infinite ease-in-out;
      transform-origin: center top; }
      body > header .early-bird:visited, body > header .early-bird:focus {
        border: none; }
    body > header .next {
      display: block;
      width: 55px;
      height: 50px;
      position: absolute;
      text-align: center;
      bottom: 0;
      color: white;
      animation: 10s updown infinite ease-in-out;
      overflow: hidden;
      margin: 0 auto 2em 0;
      padding-left: 50%;
      margin-left: -30px;
      text-decoration: none; }
      body > header .next:before {
        content: "\f078";
        font-size: 3.5em; }
  body > footer {
    padding: 2em 0;
    background: none repeat scroll 0% 0% #0088ee;
    color: #fff;
    text-align: center; }
    body > footer a {
      color: #fff; }

main {
  font-size: 1.1em; }
  main > section, main > article {
    padding: 3em 10em 5em;
    border-bottom: 1px dashed #ddd; }
    main > section:nth-child(even), main > article:nth-child(even) {
      background-color: #fff; }
    main > section:nth-child(odd), main > article:nth-child(odd) {
      background-color: #f6f6f6; }
    main > section > img, main > article > img {
      width: 30%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;
      left: 0; }
    main > section > h1, main > article > h1 {
      text-align: center;
      margin: -0.3em 0 0.3em;
      font-size: 2.2em; }
    main > section > h2, main > article > h2 {
      text-align: center;
      margin: .5em 0 1em;
      font-weight: normal;
      font-size: 1.1em; }
    main > section aside, main > article aside {
      text-align: center;
      font-size: 1.2em;
      padding: .2em 0; }
      main > section aside .location,
      main > section aside .date,
      main > section aside .language, main > article aside .location,
      main > article aside .date,
      main > article aside .language {
        margin-right: 2em; }
      main > section aside a, main > article aside a {
        color: #125;
        text-decoration: none; }
      main > section aside .location:before, main > article aside .location:before {
        content: "\f124";
        color: #2988e6; }
      main > section aside .date:before, main > article aside .date:before {
        content: "\f073";
        color: #2988e6; }
      main > section aside .language:before, main > article aside .language:before {
        content: "\f1ab";
        color: #2988e6; }
    main > section > p, main > article > p {
      margin: 1em 0; }
      main > section > p strong, main > article > p strong {
        white-space: nowrap;
        color: #08e; }
    main > section blockquote, main > article blockquote {
      text-align: center; }
    main > section nav, main > article nav {
      text-align: center;
      margin: 3em 0 1em; }
      main > section nav a.info, main > section nav a.register, main > article nav a.info, main > article nav a.register {
        color: #fff;
        font-size: 1.2em;
        text-decoration: none;
        padding: .5em 1em;
        margin-right: .5em;
        border-radius: 5px; }
      main > section nav a.info, main > article nav a.info {
        background-color: #08e; }
        main > section nav a.info::before, main > article nav a.info::before {
          content: "\f05a"; }
      main > section nav a.register, main > article nav a.register {
        background-color: #6c4; }
        main > section nav a.register::before, main > article nav a.register::before {
          content: "\f0a9"; }
  main > section > h1 {
    font-weight: normal;
    font-size: 1em;
    margin: .3em 0; }
  main > section h2 {
    text-align: center;
    font-size: 2.2em;
    margin: 0; }
    main > section h2::before {
      margin-top: .3em;
      content: "\f19c";
      color: #08e;
      font-size: 2em; }
  main > article > a {
    text-decoration: none;
    position: absolute;
    top: 180%;
    left: 75%;
    background: url("../images/badge.png") no-repeat scroll 0% 0% transparent;
    width: 140px;
    height: 140px;
    padding: 2em 1.8em 2em 1.8em;
    text-align: center;
    display: block;
    transform: rotate(15deg);
    color: #FFC7F2;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em; }
    main > article > a .price {
      font-size: 2em;
      display: block;
      margin: .3em 0; }

#intern > header {
  position: relative;
  background: none;
  min-height: 20px;
  color: #111;
  text-transform: none;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px dashed #ddd;
  background-color: #f6f6f6; }
  #intern > header nav {
    margin: 0; }
    #intern > header nav a {
      display: inline-block;
      width: 225px;
      color: #36c;
      text-decoration: none;
      font-weight: none;
      font-size: 1.1em;
      vertical-align: none;
      font: 1.6em "BebasNeueRegular",Arial,sans-serif;
      padding: 7px 0; }
      #intern > header nav a:first-child {
        background: none; }
        #intern > header nav a:first-child:before {
          content: "\f078";
          font-size: 0.9em;
          transform: rotate(90deg);
          display: inline-block;
          width: 30px;
          height: 30px; }
      #intern > header nav a:last-child {
        background: none;
        float: right; }
        #intern > header nav a:last-child:after {
          content: "\f078";
          font-size: 0.9em;
          transform: rotate(270deg);
          display: inline-block;
          width: 15px;
          height: 30px;
          margin-left: 20px; }
#intern > main section h1 {
  font: 1.6em "BebasNeueRegular",Arial,sans-serif;
  color: #36C; }
#intern > main section p {
  margin-bottom: 3em; }

/*# sourceMappingURL=main.css.map */
